<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CV Cristian Terán</title>
</head>
<body>
   <header>
      <app-header>></app-header>
   </header>
   <main>
      <app-workexperience></app-workexperience>
      <div>
        <h1>Work Experience</h1>
        <app-workexperience></app-workexperience>
     </div>
     <div>
        <h1>Education</h1>
        <app-education></app-education>
     </div>
     <div>
        <h1>Skills & Competences</h1>
        <app-skills></app-skills>
     </div>

   </main>

</body>
</html> 