<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CV Alexander</title>
</head>
<body>
   <header>
      <app-header>></app-header>
   </header>
   <main>
      <div class="columna1">
         <div>
            <h1 id="work">Work Experience</h1>
            <app-workexperience></app-workexperience>
         </div>
         <div>
            <h1 id="education">Education</h1>
            <app-education></app-education>
         </div>
      </div>
     <div id="columna2">
      <div class="derecha">
         <h1 id="skills">Skills & Competences</h1>
         <b><p class="skilltitle">HTML</p></b>
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/sinrelleno.png" alt="" class="rellena"><br>

         <b><p class="skilltitle">CSS</p></b>
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/sinrelleno.png" alt="" class="rellena"><br>

         <b><p class="skilltitle">Python</p></b>
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/sinrelleno.png" alt="" class="rellena">
         <img src="../assets/images/sinrelleno.png" alt="" class="rellena"><br>

         <b><p class="skilltitle">Angular</p></b>
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/rellena.png" alt="" class="rellena"><br>

         <b><p class="skilltitle">JAVA</p></b>
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/rellena.png" alt="" class="rellena">
         <img src="../assets/images/sinrelleno.png" alt="" class="rellena">
         <img src="../assets/images/sinrelleno.png" alt="" class="rellena"><br>

         
       
      </div>
      <div class="derecha">
         <h1 id="achie">Achievements & Certificates</h1>
         <app-achievements></app-achievements>
      </div>
      <div class="derecha">
         <h1 id="lan">Languages</h1>
         <app-languages></app-languages>
      </div>
      <div class="derecha">
         <h1 id="interest">Interests</h1>
         <app-interests></app-interests>
      </div>
     </div>
      
   </main>
   
</body>
</html>