#datos{
    font-size: 3rem;
    list-style: none;
    margin-left: 20px;
    margin-top: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 60rem;
}

.titulo{
    font-weight: bolder;
}